/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

    
    --basic-greyDark :#293449;
    --basic-redLight :#EE3643;
    --basic-red-dark :#BA2732;
    --basic-wight-header :rgba(0, 0, 0, 0.0001);
    --basic-green: #63A63E;
    --basic-greyLighter :#32425C;
    --basic-green-bright: #5FBB2D;
    --basic-wheat: #F9F5F0;
    --basic-blueLight: #F1F5F7;
    --basic-orange : #FFBF47;
    --basic-blue : #3BBCE3;
    --basic-Violet : #DC91D8;
    --basic-greanLight : #8ED78F;
    --basic-wheatDark: #F7F3EC;
    --basic-golden : #FFD180;
    --basic-greyRadio : #C5C5C5;
    --basic-white001 : rgba(0, 0, 0, 0.0001);
    --basic-white-focus : rgba(255, 255, 255, 0.5);
    --basic-white-focus-2 : rgba(255, 255, 255, 1);
    --basic-grey-focus : rgba(22, 29, 41, 1);
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: skyblue;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* .................Header.................. */

.main-header {
    background-color: var(--basic-wight-header);
    font-family: 'Cuprum', sans-serif;
}

.site-panel {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* ..................Main navigation..................... */

.main-header-logo, .main-footer-logo {
    display: inline-block;
    background-color: var(--basic-redLight);
    color: var(--basic-white);
}

.main-header-logo:focus {
    background-color: var(--basic-red-dark);
}

.site-panel a {
    height: 42px;
    display: inline-block;
    color: white;
    background-color: var(--basic-greyDark);
    list-style: none;
}

.site-panel a:focus {
    color: var(--basic-white-focus);
    background-color: var(--basic-grey-focus);
}

.site-panel .search:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
} /*Кнопка поиска*/

.site-panel .order {
    color: var(--basic-white);
    background-color: var(--basic-green);
} /*Оформить заказ*/

.site-panel .order:focus {
    color: var(--basic-white-focus);
    background-color: var(--basic-green);
}

.site-panel .order:hover {
    color: var(--basic-white);
    background-color: var(--basic-green-bright);
}

.main-navigation {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: transparent;
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
}

.site-navigation {
    list-style:none;
}

.site-navigation a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.

.site-navigation a {
  background-color: var( --basic-greyLighter);
  color: var(--basic-white);
}

.site-navigation  a:hover,
.site-navigation a:focus {
  background-color: var(--basic-greyDark);
    color: var(--basic-white);
}

/* ......site-description......*/

.site-description p {
    color: var(--basic-redLight);
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.site-description .contacts .contacts-phone {
    color: var(--basic-redLight);
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.site-description .contacts .contacts-p {           
    color: var(--basic-greyLighter);
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.site-description .login a {
    height: 45px;
    text-align: center;
    width: 121px;
    display: inline-block;
    color: var(--basic-black);
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    background-color: white;
}
.site-description .login a:hover {
    color: #EE3643;
}
.site-description .login a:focus {
    color: #C5C5C5;
}

.site-navigation {
    width: 940px;
    height: 60px;
    display: inline-block;
}

.site-navigation a {
    width: auto;
    height: 60px;
    display: inline-block;
    font-family: 'Cuprum', sans-serif;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-greyLighter);
}

.site-navigation a:hover {
    background-color:  var(--basic-greyDark);
}

.site-navigation a:focus {
    background-color:  var(--basic-greyDark);
    color: var(--basic-white-focus);
}


/* ..............container...............*/

.benefits-section-list li {
    width: 300px;
    height: 123px;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    text-transform:none;
    list-style: none;
}

.benefits-item-material {
    background-color: var(--basic-orange);
}

.benefits-item-instrument {
    background-color: var(--basic-blue);
}

.benefits-item-mechanism {
    background-color: var(--basic-Violet);
}

.benefits-item-discount {
    background-color: var(--basic-greanLight);
}

.benefits-item-delivery {
    background-color: var(--basic-orange);
}

.benefits-section-list .slide-item-punch {
    margin-bottom: 300px;
    width: 620px;
    height: 266px;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.benefits-section-list .slide-item-punch p {
    color: var(--basik-white);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/*кнопки каталога*/

.button-catalog {
    
      width: 135px;
      height: 38px;
      font: inherit;
      text-align: center;
      color: var(--basic-white);
      vertical-align: middle;
      text-transform: uppercase;
      background-color: rgba(255,255,255,0.3);
      border: none;
}
.button-catalog:hover {
    background-color: rgba(197,197,197,0.3);
}
.button-catalog:focus {
    background-color: rgba(169,169,169,0.3);
}

.benefits-section-list button {
    
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.benefits-section-list .special-button-catalog {
    width: 192px;
    height: 38px;
    background-color: var(--basic-redLight);
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}
.special-button-catalog:hover {
    background-color: #CA2C37;
}
.special-button-catalog:focus {
    background-color: #BA2732;
}

.button-slide-left, .button-slide-left:focus,
.button-slide-right, .button-slide-right:focus {
    border: none;
    background-color: transparent;
}

.radio-button-slide-left {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: none;
    
}
.radio-button-slide-right {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: none;
}

.buy-button {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-green);
    color: white;
    border-radius: none;
}
.buy-button:hover {
    background-color: #5FBB2D;
    color: white;
    border-radius: none;
}
.buy-button:focus {
    background-color: #518534;
    color: white;
    border-radius: none;
}

.marked-button {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-green);
    border-radius: 2px;
    color: #32425C;
    background-color: var(--basic-white);
}
.marked-button:hover {
    border: 3px solid #32425C;
    color: #32425C;
    background-color: var(--basic-white);
    border-radius: 2px;
}
.marked-button:focus {
    border: 3px solid #32425C;
    color: #32425C;
    background-color: var(--basic-white);
}

/*..............Популярные товары................*/

.hot-product {
    width: 940px;
    height: 89px;
    background-color: #F9F5F0;
}

.hot-product .hot-product-button,
.popular-manufacturers-button {
    width: 192px;
    height: 38px;
    text-align: center;
    display: block;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
    background-color: var(--basic-redLight);
}
.popular-manufacturers .button{
    
}


.h2 {
    color: #32425C;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.popular-products-list .popular-products-item {
    width: 220px;
    height: 318px;
    list-style:none;
    border: 1px solid #EAEAEA;
}



.popular-products-list .popular-products-item p, 
.popular-products-list .popular-products-item  {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.popular-products-list .popular-products-item s {
    color: #A9A9A9;
}

.popular-products-list .popular-products-item ins {
    color: white;
    background-color: var(--basic-redLight);
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.container-popular-manufacturers {
    width: 940px;
    height: 89px;
    background-color: #F9F5F0;
    
}

.popular-manufacturers-list {
    list-style: none;
}

.popular-manufacturers-list .popular-manufacturers-item {
    width: 220px;
    height: 145px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.features {
    background-color: #F1F5F7;
    background-image: url(img/car.png);
    background-position: right;
    background-repeat: no-repeat;
}

.h2-features {
    font-family: Cuprum;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.features p {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: black;
}

.h2-features-delivery {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
}

.features .features-buttonss button {
    background-color: #32425C;
    color: white;
    width: 240px;
    height: 61px;
    border: none;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.features .features-buttonss button:focus {
    background-color: white;
    border: none;
    color: #32425C;
}

.features .features-buttonss button:hover {
    background-color: #293449;
    border: none;
}

/*................descriprion.................*/

.h2-description, .h2-contacts {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.p-description, .p-contacts {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.description-list .description-item {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
}

.description .button-aboutCompany, .contacts .button-contacts {
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    text-align: center;
    display: block;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.contacts .button-contacts {
    width: 300px;
    height: 38px;
}

.description .button-aboutCompany, .button-contacts:hover {
    background-color: #CA2C37;
}

.description .button-aboutCompany, .button-contacts:focus {
    background-color: #BA2732;
}

/*........FOOTER..............*/

.footer-navigation {
    background-color: #32425C;
    color: #F3F7F9;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
}

.footer-navigation ul {
    list-style: none;
}

.footer-navigation a {
    color: #F3F7F9;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation2 a {
    color: #FFD180;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation1 a:hover, .footer-navigation2 a:hover {
    text-decoration: underline;
}

.footer-navigation1 a:focus, .footer-navigation2 a:focus {
    opacity: 0.5;
}

/*.........FOOTER-CONTACTS............*/

.footer-contacts {
    background-color: #293449;
}

.footer-phone p,  .footer-copyright1 {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F9;
}

.footer-social-list {
    list-style: none;
}

.footer-social-list a {
    color: black;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-adress, .footer-copyright2 {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer-adress-color-item1, .footer-copyright2 a {
    color: #FFD180;
}
.footer-adress-color-item1:hover, .footer-copyright2 a:hover {
    text-decoration: underline;
}
.footer-adress-color-item1:focus, .footer-copyright2 a:focus {
    color: #EE3643;
}
.footer-adress span :focus {
    color: #EE3643;
}






























/*..................................CATALOG........................*/

.breadcrumb .breadcrumb-item a, .breadcrumb li {
    color: black;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    list-style: none;
    text-transform: uppercase;
}

.h2-perforatots {
    width: 940px;
    height: 89px;
    background-color: #F2F6F8;
}

.h2-perforatots h2 {
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
}

.filters {
    background-color: #F7F3EC;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.filters-list {
    list-style: none;
}

.filters .filter {
    width: 220px;
    height: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.filters .sorting {
    font-size: 13px;
    line-height: 18px;
}

.filters .by-price {
    color: #EE3643;
    background: #F7F3EC;
    border: none;
}


.filters button .by-type {
    color: #000000;
    background: #F7F3EC;
    border: none;
    opacity: 0.3;
}
.filters button .by-type:hover {
    color: #000000;
    background: #F7F3EC;
    border: none;
}
.filters button .by-type:focus {
    color: #EE3643;
    background: #F7F3EC;
    border: none;
}


.filters .by-functional {
    color: #000000;
    background: #F7F3EC;
    border: none;
    opacity: 0.3;
}


.filters li .roll-up, .filters li .roll-down {
    background: #F7F3EC;
    border: none;
    color: #000000;
}
.filters li .roll-up, .filters li .roll-down:hover {
    background-color: #F7F3EC;
    border: none;
    color: #000000;
}
.filters li .roll-up, .filters li .roll-down :focus {
    background-color: #F7F3EC;
    border: none;
    color: #EE3643;
}


/*..............AdvanceFilters(Расширенные фильтры)................................*/

.advance-filtres {
    font-family: 'PT Sans', sans-serif;
}

.advance-filtres .sale, .line-supply {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}